openai==2.31.0
anyio==3.7.1
pydantic==2.13.0
pydantic-core==2.46.0
jiter==0.14.0
openai-whisper
torch
datasets
pandas
numpy
faiss-cpu
rank-bm25
sentence-transformers
symspellpy
underthesea
Pillow
vietocr
paddleocr
paddlepaddle
